.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
  padding: 20px;
  width: 100vw;
  height: auto;
  background-image: linear-gradient(180deg, #323232, #000000);
  position: relative;
  color: whitesmoke;
  overflow-x: hidden;
  min-width: 0;
  padding-top: 40px;
}
.undertitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 40%;
  position: relative;
  z-index: 2;
  font-family: Montserrat;
  font-size: 10vw;
  text-shadow: 20px 15px 8px #979595;
}
.title.visible::before {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: vertical 1.5s forwards;
}
.title.visible::after {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: horizontal 2s forwards;
}
@keyframes vertical {
  1% {
    width: 5px;
    height: 5px;
  }
  30% {
    height: 80%;
    width: 140%;
  }
  100% {
    height: 60%;
    width: 140%;
    transform: translate(-100%, -100%);
  }
}
@keyframes horizontal {
  1% {
    width: 5px;
    height: 5px;
  }
  30% {
    height: 80%;
    width: 140%;
  }
  100% {
    height: 60%;
    width: 140%;
    transform: translate(0%, 0%);
  }
}

.block {
  position: absolute;
  z-index: -1;
  top: 60%;
  transform: translateY(-50%);
  display: block;
  width: 20%;
  height: 2px;
  background-color: #000000;
}

.slideOne,
.slideTwo,
.slideThree,
.slideFour {
  display: flex;
  justify-content: center;
}
.img {
  width: 90vw;
  height: 60vw;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 5vw;
  }
  .img {
    height: 45vw;
  }
}
