.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 140px;
  padding-bottom: 80px;
  width: 100vw;
  height: 70vh;
  gap: 30px;
  background-image: linear-gradient(180deg, #000000, #323232);
  position: relative;
  color: whitesmoke;
  overflow: hidden;
}
.img {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 75px;
  top: 10px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Montserrat;
  font-size: 8vw;
}
.title.visible span:nth-child(1) {
  display: flex;
  transform: translateX(100%);
  opacity: 0;
  margin: 0;
  justify-content: flex-start;
  animation: slideFromRight 2s ease forwards;
}
.title.visible span:nth-child(2) {
  display: flex;
  transform: translateX(-100%);
  opacity: 0;
  margin: 0;
  justify-content: flex-end;
  animation: slideFromLeft 2s ease forwards;
}
.title.visible span:nth-child(3) {
  display: flex;
  transform: translateX(100%);
  opacity: 0;
  margin: 0;
  justify-content: flex-start;
  animation: slideFromRight 2s ease forwards;
}
@keyframes slideFromRight {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.text {
  font-family: Montserrat;
  position: relative;
  font-size: 2vw;
  text-align: right;
  font-weight: bold;
}
.text::before {
  content: '';
  width: 83%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  left: 0;
  top: 12px;
}
.btn {
  position: relative;
  z-index: 2;
  list-style: none;
  text-decoration: none;
  font-family: Montserrat;
  align-self: center;
  min-width: 150px;
  height: 72px;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  font-size: 5vh;
  margin-bottom: 80px;
}
.btn::before,
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn:hover,
.btn:focus {
  color: #00ffff66;
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 126px;
    width: 100vw;
    height: auto;
    padding-bottom: 20px;

  }
}
.btn:hover::before,
.btn:focus::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}
.btn:hover::after,
.btn:focus::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}
.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  animation: Apear 1s forwards;
  overflow: hidden;
}
.modal.close {
  animation: Close 1s forwards;
}
@keyframes Apear {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  50% {
    opacity: 1;
    width: 90%;
    height: 2px;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}
@keyframes Close {
  0% {
    width: 90%;
    height: 90%;
  }
  50% {
    opacity: 1;
    width: 90%;
    height: 2px;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.closeBtn {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  scale: 3;
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 2;
}
.closeBtn:hover,
.closeBtn:focus {
  transform: scale(1.2);
}
.closeBtn::before {
  background-color: #000;
  transform: scale(0);
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.closeBtn::after {
  background-color: #fff;
  transform: scale(1);
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  z-index: -2;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.closeBtn:hover::before,
.closeBtn:focus::before {
  opacity: 1;
  transform: scale(1);
}

.closeBtn:hover::after,
.closeBtn:focus::after {
  opacity: 1;
  transform: scale(1.3);
  background-color: #00ffff66;
}
.discount {
  display: block;
  text-align: center;
  font-size: 3vh;
  font-family: Montserrat;
}
.pers {
  font-weight: bold;
  transform: scale(1);
  animation: growthPers 6s infinite;
}
@keyframes growthPers {
  0%,
  100% {
    transform: scale(1);
    color: whitesmoke;
  }
  50% {
    transform: scale(2);
    color: #00ffff66;
  }
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  gap: 20px;
}

.form .label:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  height: auto;
  text-align: center;
  width: 80%;
  min-height: 40vh;
}
.form .label:nth-child(2) {
  position: relative;
  height: auto;
  text-align: center;
  width: 80%;
  min-height: 10vh;
}

.textModal,
.input {
  padding: 12px;
  color: whitesmoke;
  font-size: 2vh;
  width: 90%;
  min-height: 90%;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  resize: none;
  position: relative;
  z-index: 2;
}

.upload:hover,
.upload:focus {
  color: #00ffff66;
  transition: all 0.25s ease-in-out;
}

.orderBtn {
  text-decoration: none;
  color: whitesmoke;
  min-height: 8vh;
  min-width: 30vh;
  font-size: 1.8vw;
  border: 1px solid whitesmoke;
  padding: 8px 16px;
  background-color: transparent;
  text-shadow: 6px 4px 4px #202020;
  border-radius: 20px;
  transform: scale(1);
  position: relative;
  overflow: hidden;
}

.orderBtn::before,
.orderBtn::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -25%;
  width: 0;
  height: 120%;
  background-color: #277e7e7c;
  border-radius: 50%;
  transition: width 0.5s ease-in-out;
}

.orderBtn::before {
  left: 0;
}

.orderBtn::after {
  right: 0;
}

.orderBtn:hover::before {
  width: 120%;
}

.orderBtn:hover::after {
  width: 120%;
}

.orderBtn:hover,
.orderBtn:focus {
  transform: scale(1.2);
  transition: transform 250ms ease-in-out;
}
