.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(180deg, #323232, #323232ab);
  position: relative;
  color: whitesmoke;
  overflow-x: hidden;
  min-width: 0;
}
.title {
  position: relative;
  z-index: 2;
  font-family: Montserrat;
  font-size: 10vw;
  text-shadow: 20px 15px 8px #979595;
}
.title.visible::before {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: vertical 1.5s forwards;
}
.title.visible::after {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  z-index: -1;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  animation: horizontal 2s forwards;
}
@keyframes vertical {
  1% {
    width: 5px;
    height: 5px;
  }
  30% {
    height: 130%;
    width: 5px;
  }
  100% {
    height: 130%;
    width: 110%;
  }
}
@keyframes horizontal {
  1% {
    width: 5px;
    height: 5px;
  }
  30% {
    height: 5px;
    width: 130%;
  }
  100% {
    height: 75%;
    width: 130%;
  }
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  flex-wrap: wrap;
  width: 90%;
  height: 80%;
  max-width: 1200px;
  user-select: none;
  transition: transform 0.3s ease;
}
.else {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 15%;
  border: 1px solid black;
  color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 0;
  font-size: 1.5vw;
}
.current {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  order: -1;
  width: 100%;
  height: 80%;
  border: 1px solid black;
  color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 5vw;
  font-family: 'Montserrat';
}
.block {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.tip {
  text-align: center;
  font-size: inherit;
}
.text {
  font-size: 2.7vw;
  text-align: center;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 100px;
    transition: all .1s;
    position: absolute;
    bottom: 7%;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnWhite {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s;
}

.btnWhite::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btnAnimated {
    animation: moveInBottom 2s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen and (min-width: 768px) {
  .container {
    justify-content: center;
    padding: 20px;
    gap: 40px;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
  }
  .title {
    font-size: 5vw;
  }
  .else {
    width: 18%;
    gap: 12px;
    font-size: 0.9vw;
  }
  .current {
    width: 100%;
    font-size: 2vw;
  }
  .text {
    font-size: 1.4vw;
    text-align: center;
  }
}
